@model TACO_Nutricional.Models.ViewModels.RefeicaoVM

@{ 
    Layout = null;
}


<table class="table">

    <thead class="thead-light">
        <tr>
            <th>
                Nome Alimento
            </th>
            <th>
                Porção(g)
            </th>
            <th>
                Calorias
            </th>
            <th>
                Proteínas(g)
            </th>
            <th>
                Carboidratos(g)
            </th>
            <th>
                Lipídeos(g)
            </th>
            <th>
                Opções
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.ItensRefeicao.Any())
        {
            @foreach (var item in Model.ItensRefeicao)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAlimento)
            </td>
            <td class="text-center">
                @item.PorcaoNoPrato
            </td>
            <td class="text-center">
                @item.Calorias
            </td>
            <td class="text-center">
                @item.Proteina
            </td>
            <td class="text-center">
                @item.Carboidrato
            </td>
            <td class="text-center">
                @item.Lipideos
            </td>
            <td>

                <a onclick="showInPopup('@Url.Action("EditarPorcaoItem","ComposicaoAlimentos",
                                                    new {id=item.Id},Context.Request.Scheme)','Editar Porcao')" 
                   class="btn btn-info text-white" title="Editar"><i class="fas fa-pencil-alt"></i></a>

                <a onclick="AjaxDeleteItemRefeicao('@Url.Action("DeletarItemdaRefeicao","ComposicaoAlimentos",
                                                                        new {id=item.Id},Context.Request.Scheme)')" 
                   class="btn btn-danger text-white" title="Deletar"><i class="fas fa-trash"></i></a>

            </td>
        </tr>
            }

    <tr class="thead-light">
        <th>
            TOTAIS
        </th>
        <th class="text-center">
            @Model.TotalPorcao
        </th>
        <th class="text-center">
            @Model.TotalCalorias
        </th>
        <th class="text-center">
            @Model.TotalProteinas
        </th>
        <th class="text-center">
            @Model.TotalCarboidratos
        </th>
        <th class="text-center">
            @Model.TotalLipideos
        </th>
       <th></th>
        

    </tr>

        }
        else
        {
            <tr>
                <td>
                    Sem itens adicionados
                </td>
            </tr>
        }
        

</table>


