@model IEnumerable<TACO_Nutricional.Models.ViewModels.AlimentoVM>

@{ 
    Layout = null;
}


<table class="table table-responsive">

    <thead class="thead-light">
        <tr>
            <th>
                Nome Alimento
            </th>
            <th>
                Porção (g)
            </th>
            <th>
                Kcal (g)
            </th>
            <th>
                Proteína (g)
            </th>
            <th>
                Carboidrato (g)
            </th>
            <th>
                Lipídeos (g)
            </th>
            <th>
                Opções
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAlimento)
            </td>
            <td class="text-center">
                @item.PorcaoNoPrato
            </td>
            <td class="text-center">
                @item.Calorias
            </td>
            <td class="text-center">
                @item.Proteina
            </td>
            <td class="text-center">
                @item.Carboidrato
            </td>
            <td class="text-center">
                @item.Lipideos
            </td>
            <td>
                <a onclick="AjaxDeleteItemRefeicao('@Url.Action("DeletarItemdaRefeicao","ComposicaoAlimentos",new {id=item.Id},Context.Request.Scheme)')" class="btn btn-danger text-white" title="Deletar"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
            }

    <tr class="thead-light">
        <th>
            TOTAIS
        </th>
        <th class="text-center">
            @Model.Select(a => a.PorcaoNoPrato).Sum()
        </th>
        <th class="text-center">
            @Model.Select(a => a.Calorias).Sum()
        </th>
        <th class="text-center">
            @Model.Select(a => a.Proteina).Sum()
        </th>
        <th class="text-center">
            @Model.Select(a => a.Carboidrato).Sum()
        </th>
        <th class="text-center">
            @Model.Select(a => a.Lipideos).Sum()
        </th>
       <th></th>
        

    </tr>

        }
        else
        {
            <tr>
                <td>
                    Sem itens adicionados
                </td>
            </tr>
        }
        

</table>


